<!DOCTYPE html>
<html>
  <head>
    <title>uvvu</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-light fs-3" href="/">Meme Image Bank</a>
          <div class="collapse navbar-collapse pt-2">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile/<%= login %>">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posters">Posters</a>
              </li>
            </ul>
            <a href="/random" class="me-2">
              <img src="/icons/shuffle.svg"/>
            </a>
            <form class="d-flex" action="/search", method="get">
              <div class="input-group me-2">
                <input type="text" name="q" placeholder="Search" class="form-control"/>
                <button type="submit" class="btn btn-light">
                  <img src="/icons/search.svg"/>
                </button>
              </div>
            </form>
            <form action="/logout" method="post">
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-5 pt-4">
      <div class="container-fluid mt-3">
        <h3>Oops !</h3>
        <p>Our payment system is under maintenance.
          We have saved your shopping cart and you will recieve an email as soon as we are ready. <br/>
          Your cart: <%= poster %> for <%= price %>$
        </p>
      </div>
    </main>
  </body>
</html>
