<!DOCTYPE html>
<html>
  <head>
    <title>uvvu</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-light fs-3" href="/">Meme Image Bank</a>
          <div class="collapse navbar-collapse pt-2">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile/<%= user.login %>">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posters">Posters</a>
              </li>
            </ul>
            <a href="/random" class="me-2">
              <img src="/icons/shuffle.svg"/>
            </a>
            <form class="d-flex" action="/search", method="get">
              <div class="input-group me-2">
                <input type="text" name="q" placeholder="Search" class="form-control"/>
                <button type="submit" class="btn btn-light">
                  <img src="/icons/search.svg"/>
                </button>
              </div>
            </form>
            <form action="/logout" method="post">
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-5 pt-4">
      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-4 pe-3">
            <h1 class="h2">My profile :</h1>
            <form action="modify-user" method="post">
              <input class="form-control mb-1" readonly value="<%= user.login %>" name="login" style="background-color: #e9ecef; opacity: 1;" />
              <input class="form-control mb-1" name="email" value="<%= user.email %>" />
              <input class="form-control mb-1" name="password" type="password" placeholder="Type your password to validate" />
              <button class="btn btn-danger" type="submit">Modify</button>
            </form>
            <% if (user.premium) { %>
              <p class="mt-2">Congratulations, you are a premium member !</p>
            <% } else { %>
              <form action="/premium" method="get">
                <button class="btn btn-warning mt-2" type="submit">Become premium !</button>
              </form>
            <% } %>
          </div>
          <div class="col-8 ps-3">
            <div class="row d-flex justify-content-between mb-3">
              <div class="col-6">
                <h1 class="h2">My images :</h1>
              </div>
              <div class="col-4">
                <form action="/profile/<%= user.login %>/search", method="get">
                  <div class="input-group me-2">
                    <input type="text" name="q" placeholder="Search" class="form-control"/>
                    <button type="submit" class="btn btn-outline-secondary">
                      <img src="/icons/search.svg"/>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mb-2">
              <% if (locals.images) { %>
                <% for (let i = 0; i < images.length; i++) { %>
                  <% if (i%4 == 0 && i != 0) { %>
                    </div>
                    <div class="row mb-2">
                  <% } %>
                  <div class="col-3">
                    <% if (images[i].premium) { %>
                      <div class="card h-100 border border-warning border-3">
                        <img src="/images/<%= images[i].user %>/premium/<%= images[i].name %>" class="card-img-top" style="max-width: 100%; max-height: 200px;"/>
                      <% } else { %>
                        <div class="card h-100">
                        <img src="/images/<%= images[i].user %>/<%= images[i].name %>" class="card-img-top" style="max-width: 100%; max-height: 200px;"/>
                      <% } %>
                      <h5 class="card-title"><%= images[i].name %></h5>
                    </div>
                  </div>
                <% } %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
