{% load static %}

<link rel="stylesheet" href="{% static 'notes/style.css' %}">

{% if latest_notes_list %}
    <ul>
    {% for note in latest_notes_list %}
    <li><a>{{ note.note_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No notes are available.</p>
{% endif %}